# General files
.git
.github
config
docs
!/config/custom_components/ultraloq_ble/

# Development
.devcontainer
.vscode

# Test related files
tests

# Other virtualization methods
venv
.vagrant

# Temporary files
**/__pycache__